<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-plus@2.11.5/dist/index.css" />
    <script src="https://unpkg.com/element-plus@2.11.5/dist/index.full.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/qrcodejs2@0.0.2/qrcode.min.js"></script> -->
    <script src="./js/qrcode.min.js"></script>
    <script src="./js/vue.global.prod.js"></script>
    <script src="./js/index.full.js"></script>
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>猫头枪</title>
    <style>
        body {
            background-color: #1e1e1e;
            color: #ddd;
            font-family: Consolas, Monaco, 'Courier New', monospace;
            margin: 20px;
        }

        .el-button {
            margin-left: 12px;
        }

        .button-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 15px;
        }

        #qrcode-container {
            flex-shrink: 0;
            width: 120px;
            aspect-ratio: 1 / 1;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            padding: 5px;
            border-radius: 4px;
            font-size: 17px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-card shadow="hover" style="background-color:#2d2d2d; color:#ddd; border: #333;">
            <template #header>
                <div style="display:flex;  gap:10px; align-items:center;">
                    <el-space wrap>
                        <el-button class="loca-btn" size="small" :type="onpaste ? 'success' : 'danger'"
                            @click="switchPasteState()">
                            自动输入
                        </el-button>
                        <el-button v-for="(locaLink, idx) in localLinkList" :key="idx" class="loca-btn" size="small"
                            type="primary" @click="buildLocaLinkQRcode(locaLink)">
                            {{ locaLink }}
                        </el-button>
                    </el-space>
                    <div id="qrcode-container"
                        style="color: #1e1e1e; width: 120px; height: 120px; background-color: white; padding: 5px; border-radius: 4px;">
                        请选择连接方式
                    </div>
                </div>
            </template>

            <div class="button-container" v-if="qrdataList.length">
                <el-button v-for="(item, idx) in qrdataList" :key="idx" size="small" @click="copyQrdata(idx)">
                    {{ item.timestamp + ": " + item.qrdata }}
                </el-button>
            </div>
        </el-card>
    </div>

    <script src="/eel.js"></script>
    <script>
        const { createApp, ref } = Vue;

        createApp({
            setup() {
                const localLinkList = ref([]);
                const qrdataList = ref([]);
                const newQrdata = ref("");
                const onpaste = ref(false);

                async function getLocalIps() {
                    try {
                        const res = await eel.getLocalIps()();
                        console.log(res)
                        localLinkList.value = res;
                        showMessage("ip列表已读取");
                    } catch (err) {
                        showMessage("读取IP列表失败：" + err, 'error');
                    }

                }


                // updateQrData 函数暴露到全局，供 Python eel调用
                function updateQrData(res) {
                    try {
                        if (!res) throw new Error('无数据');
                        if (onpaste.value) {
                            showMessage('自动输入：' + res.qrdata);
                            eel.type_chinese_with_pynput(res.qrdata+"\n");
                        } else {
                            showMessage('新增数据：' + res.qrdata);
                        }
                        const newData = Array.isArray(res) ? res : [res];
                        qrdataList.value = [...newData, ...qrdataList.value];
                    } catch (err) {
                        showMessage('ERROR：' + err.message, 'error');
                    }
                }
                eel.expose(updateQrData);

                async function switchPasteState() {
                    console.log(onpaste.value)
                    onpaste.value = !onpaste.value;
                }


                async function buildLocaLinkQRcode(locaLink) {
                    try {
                        const qrData = "winClientLink:" + locaLink;
                        const qrcodeContainer = document.getElementById('qrcode-container');
                        qrcodeContainer.innerHTML = ''; // 清空旧二维码

                        // 生成新二维码
                        new QRCode(qrcodeContainer, {
                            text: qrData,
                            width: 120,
                            height: 120,
                            colorDark: "#000000",
                            colorLight: "#ffffff",
                            correctLevel: QRCode.CorrectLevel.H
                        });

                        showMessage(`已生成二维码：${locaLink}`, 'success');
                    } catch (err) {
                        showMessage("二维码生成失败：" + err, 'error');
                    }
                }

                async function copyQrdata(idx) {
                    try {
                        qrdata = qrdataList.value[idx].qrdata;
                        await navigator.clipboard.writeText(qrdata);
                        showMessage(`已复制 ${qrdata}`, 'success');
                    } catch (err) {
                        showMessage("复制失败：" + err, 'error');
                    }
                }

                function showMessage(message, type = 'info') {
                    console.log(message);
                    ElementPlus.ElMessage({
                        showClose: true,
                        message: String(message),
                        type: type,
                        placement: "bottom"
                    });
                }
                getLocalIps();

                return {
                    getLocalIps,
                    switchPasteState,
                    buildLocaLinkQRcode,
                    localLinkList,
                    qrdataList,
                    onpaste,
                    copyQrdata
                };
            }
        }).use(ElementPlus).mount('#app');
    </script>
</body>

</html>